# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# dotenv
.env
.env.*

# virtualenv
.venv/
venv/


.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db

# Logs
*.log
*.out
*.err

# Band-specific
test_images/